.header {
  font-family: sans-serif;
  background-color: #3a38d6;
  padding: 10px 0;
}
.header__user {
  width: 30%;
  margin: 0 1.5%;
  display: inline-block;
  text-align: left;
  color: #e0e0e0;
  font-size: 1.1em;
}
.header__user a {
  color: #e0e0e0;
  text-decoration: none;
}
.header__user a:hover {
  color: #ffffff;
}
.header__user__welcome {
  color: #968fff;
  font-family: serif;
  font-style: italic;
}
.header__title {
  width: 30%;
  margin: 0 1.5%;
  display: inline-block;
  text-align: center;
  color: #e0e0e0;
  font-size: 3.5em;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  font-weight: bold;
}
.header__title a {
  color: #e0e0e0;
  text-decoration: none;
}
.header__title a:hover {
  color: #ffffff;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__logout {
  width: 30%;
  margin: 0 1.5%;
  display: inline-block;
  text-align: right;
  color: #e0e0e0;
  font-size: 1.3em;
  vertical-align: 10px;
}
.header__logout a {
  color: #e0e0e0;
  text-decoration: none;
}
.header__logout a:hover {
  color: #ffffff;
}

.subheader {
  font-family: sans-serif;
  background-color: #1a31b7;
  font-size: 1.3em;
  color: #968fff;
  padding: 10px 0;
  text-align: center;
}

.footer {
  position: relative;
  background-color: #3a38d6;
  width: 100%;
  border-top: 2px solid #1a31b7;
}
.footer__text {
  font-family: sans-serif;
  color: #e0e0e0;
  margin: 10px;
  display: inline-block;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Formulários */
table
{
	font-size: 12px;
}

/* Header dos DataTables */
table.datatable-header
{
	font-size: 9.5px;
	text-align: left;
	font-weight: bold;
}

/* Conteúdo dos DataTables */
tbody.ui-datatable-data
{
	font-size: 11px;
}

tbody.ui-datatable-data
{
	font-size: 11px;
}

/* Menus do Usuário */
span.wijmo-wijmenu-text
{
	font-size: 11.5px;
}